body {
    background-color: rgb(27, 27, 27);
    color: rgb(247, 247, 247);
    margin: 0;
}

#topbar {
    width: 100%;
    display: flex;
    padding-bottom: 30px;
}

#topbar img {
    width: 130px;
    height: 130px;
    padding-left: 25px;
    padding-top: 35px;
    text-align: left;
}

#site_baner {
    width: 100%;
    border-radius: 30px;
    text-align: center;
}

#site_baner img {
    width: 100%;
    opacity: 0.95;
}

#small_writing {
    width: 80%;
    color: rgb(187, 187, 187);
    font-size: 34px;
    font-family: "Lato", sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

#welcome_sign {
    width: 80%;
    color: rgb(255, 255, 255);
    font-size: 84px;
    font-weight: 800;
    font-family: "Lato", sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#description {
    width: 85%;
    color: rgb(233, 233, 233);
    font-size: 38px;
    font-family: "Lato", sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;
}

#clear_sessions_data {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    text-align: center;
}

#clear_sessions_data button {
    width: 55%;
    height: 20%;
    padding: 20px;
    background-color: rgb(209, 26, 26);
    color: white;
    font-size: 42px;
    font-weight: 400;
    border-radius: 15px;
}